[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
aliyun-python-sdk-core = "*"
python-crontab = "*"
aliyun-python-sdk-vpc = "*"
croniter = "*"
click = "*"

[requires]
python_version = "3.7.7"
