[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
python-crontab = "*"
aliyun-python-sdk-core = "*"
aliyun-python-sdk-vpc = "*"

[requires]
python_version = "3.5"
